@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h2 class="display-4">Product Details</h2>
    <p> Id: @theProduct.ProductId</p>
        <p> Title:  <b> <u></u>@theProduct.Title</b></p>
        <p> Description: @theProduct.Description</p>
        <p> Unit Price: @theProduct.Price</p>
        <p> Stock Available: @theProduct.Balance</p>

</div>